@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
}
.large-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: inherit;
  grid-template-areas: "active finished";
  
}
#main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background: #ff0062;
  padding: 0 1rem;
}

#main-header h1 {
  font-weight: 400;
  color: white;
  margin: 0;
  margin-right: auto;
}
.add-project{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.add-icon{
  font-size: 2rem;
  color: white;
  width: 3rem;
  cursor: pointer;
}

header p{
  color: white;
  background-color: #ff0062;
  font-size: 1.5rem;
  

}
/* 
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1.3rem 0;
}

section {
  margin: 2rem;
  /* width: 40rem; */
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .1) inset;
  border-radius: .8rem;
  overflow: hidden;
}

section ul {
  padding: 1rem;
  max-height: 31rem;
}


section > h2 {
  color: white;
  margin: 0;
}

.scroll-container{
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-highlight-color: rgb(110, 109, 109);
  scrollbar-width: thin;
  scrollbar-color: rgb(161, 159, 159) rgba(44, 43, 43, 0.1);
  margin-bottom: 5px;
}

ul h2{
  margin: .6rem 0;
}
button {
  font: inherit;
  background: #ff0062;
  color: white;
  border: 1px solid #ff0062;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.alt {
  background: white;
  color: #ff0062;
  margin: .7rem 0;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ff2579;
  border-color: #ff2579;
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background: white;
}
.modal-overlay{
  display: none;
}
#active-projects {
  grid-area: active;
}

#active-projects > header {
  background: #870099;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active-projects header h2 {
  color: white;
  margin: 0;
}

#finished-projects {
  grid-area: finished;
}

#finished-projects > header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #535353;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#finished-projects header h2 {
  color: white;
  margin: 0;
}
.tooltip{
  height: max-content;
  width: max-content;
  font-style: italic;
  font-size: .8rem;
  background-color: rgb(243, 217, 183); 
  position: absolute;
 padding: .7rem;
}
.droppable{
  background-color: rgb(106, 121, 124);
}

@media screen and (max-width: 640px){
  .large-container{
    display: block;
    margin: .7rem;
  }
  #main-header h1{
    font-size: 1.5rem;
  }
  .add-project p{
    display: none;
  }
  .large-container{
    font-size: .7rem;
  }
}
